<div class="Header">
  <h1>@ViewBag.User.Username's Account Page</h1>
  <div class="HeaderLinks">
    <a asp-action="Index" asp-controller="Home">Home</a>  |  
    @if(ViewBag.CurrentUser == null){
      <a asp-action="Login" asp-controller="User">Login</a>
    } else{
      <a asp-action="Logout" asp-controller="User">Logout</a>
    }
  </div>
</div>
<div class="RecipeList">
  <h2>Here you can find all of our recipes and recipes we choose as the best from the User Submissions</h2>
  @foreach(var recipe in ViewBag.LikedRecipes){
    <div class="Recipe">
      <h3><a asp-action="Recipe" asp-controller="Recipes" asp-route-Title="@recipe.Recipe.Title">@recipe.Recipe.Title</a></h3>
      <h5>By @recipe.User.Username</h5>
      @if(recipe.Recipe.PictureURL != null){
        <div class="RecipeListPicture" style="background-image: url(@recipe.Recipe.PictureURL)";></div>
      }
      <ul>
        @foreach(var ingredient in recipe.Recipe.GetIngredients()){
          <li>@ingredient</li>
        }
      </ul>
      <p>@recipe.Recipe.Content</p>
      <p class="Rating">Rating: @recipe.Recipe.GetRating()</p>
      <p class="Likes">Likes: @recipe.Recipe.Likes.Count</p>
      <p class="postDate">Date Posted: @recipe.Recipe.CreatedAt.ToString("MM/dd/yyyy")</p>
    </div>  
  }
</div>