@model FoodForum.Models.AdminRecipe

<div class="wrapper">
  <div class="header">
    <h1>Hello And Welcome To Britney, Sam, and Hank's Food Blog/Recipe Forum</h1>
    <p><a asp-action="UserRecipes" asp-controller="Home">User Submitted Recipes</a>  |  
      @if(ViewBag.User == null){
        <a asp-action="Login" asp-controller="User">Login</a>
      } else{
        if(ViewBag.User.AdminState == 1){
          <p><a href="/AdminPage">AdminPage</a>  |  </p>
        }
        <a asp-action="Logout" asp-controller="User">Logout</a>
      }
    </p>
  </div>
  <div class="RecipeList">
    <h2>Here you can find all of our recipes and recipes we choose as the best from the User Submissions</h2>
    <div id="Sorting">
      <table class="SortingTbl">
        <thead class="SortingThead">
          <tr class="SortingTR">
            <td class="SortingBtn" id="IndexRatingReverse">Sort By Rating ↑</td>
            <td class="SortingBtn" id="IndexLikes">Sort by Likes ↓</td>
          </tr>
        </thead>
      </table>
      @foreach(var recipe in ViewBag.RecipesByRating){
        <div class="Recipe">
          <h3><a asp-action="Recipe" asp-controller="Recipes" asp-route-Title="@recipe.Title">@recipe.Title</a></h3>
          <h5>By @recipe.User.Username</h5>
          <ul>
            @foreach(var ingredient in recipe.GetIngredients()){
              <li>@ingredient</li>
            }
          </ul>
          <p>@recipe.Content</p>
          <p class="Rating">Rating: @recipe.GetRating()</p>
          <p class="Likes">Likes: @recipe.Likes.Count</p>
          <p class="postDate">Date Posted: @recipe.CreatedAt.ToString("MM/dd/yyyy")</p>
        </div>  
      }
    </div>
  </div>
</div>