@model FoodForum.Models.AdminRecipe

<div class="Wrapper">
  <div class="Header">
    <h1>@ViewBag.Recipe.Title</h1>
    <h5>By <a asp-action="ProfilePage" asp-controller="User" asp-route-Username="@ViewBag.Recipe.User.Username">@ViewBag.Recipe.User.Username</a></h5>
    <div class="HeaderLinks">
      <a asp-action="Index" asp-controller="Home">Home</a>  |  
      @if(ViewBag.User == null){
        <a asp-action="Login" asp-controller="User">Login</a>
      } else{
        <a asp-action="Logout" asp-controller="User">Logout</a>
      }
    </div>
  </div>
  <div class="Recipe">
    <br>
    @if(ViewBag.Recipe.PictureURL != null){
      <div class="RecipeListPicture" style="background-image: url(@ViewBag.Recipe.PictureURL)";></div>
    }
    @if(ViewBag.Recipe.Note != null){
      <p class="AdminNote">Note from the Admin: "@ViewBag.Recipe.Note"</p>
    }
    <ul>
      @foreach(var ingredient in ViewBag.Recipe.GetIngredients()){
        <li>@ingredient</li>
      }
    </ul>
    <p class="Content">
      @Html.Raw(ViewBag.Recipe.Content.Replace(Environment.NewLine, "<br/>"))
    </p>
    @if(ViewBag.User != null && ViewBag.User.AdminState == 1 && ViewBag.Recipe.User.AdminState != 1){
      <a asp-action="UnAdminifyRecipe" asp-controller="Admin" asp-route-RecipeId="@ViewBag.Recipe.RecipeId">Remove this recipe from the curated list</a>
    }
    <table class="RecipeStatsTable">
      <thead>
        <tr>
          <td><p class="Rating">Rating: @ViewBag.Recipe.GetRating()</p></td>
          <td><p class="Likes">Likes: @ViewBag.Recipe.Likes.Count</p></td>
          <td><p class="PostDate">Date Posted: @ViewBag.Recipe.CreatedAt.ToString("MM/dd/yyyy")</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          @if(ViewBag.User != null){
            @if (ViewBag.Rating == null){
              <td><partial name="RecipeRatePartial" view-data="ViewData"/></td>
            } else {
              <td><partial name="RecipeUpdateRatePartial" view-data="ViewData"/></td>
            }
            <td class="Like"><partial name="RecipeLikePartial" view-data="ViewData"/></td>
          }
        </tr>
        @if(ViewBag.User != null && ViewBag.User.AdminState == 1){
          <tr>
            <td><partial name="RecipeDeletePartial" view-data="ViewData" class="Delete"/></td>
            <td><partial name="UpdateRecipePartial" view-data="ViewData" class="Update"/></td>
          </tr>
        }
      </tbody>
    </table>
    @if(ViewBag.User != null){
      <div class="PostAComment">
        <h4>Post A Comment: </h4>
        <partial name="RecipeCommentPartial" view-data="ViewData"/>
      </div>
    }
    <div class="Comments">
      <h4>Comments</h4>
      @foreach(var comment in ViewBag.Comments){
        <div class="Comment">
          <h4>@comment.User.Username says:</h4>
          <p>@comment.Content</p>
          @if(ViewBag.User != null){
            @if(comment.UserId == ViewBag.User.UserId || ViewBag.User.AdminState == 1){
              <form asp-action="DeleteCommentOnRecipe" asp-controller="Recipes" asp-route-RecipeId="@ViewBag.Recipe.RecipeId" asp-route-CommentId="@comment.CommentId" method="post">
                <input type="submit" value="Delete">
              </form>
            }
          }
          <p class="CommentCreatedAt">@comment.CreatedAt.ToString("MM/dd/yyyy")</p>
        </div>
      }
    </div>
  </div>
</div>